* {
    margin: 0 ;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(#0B0C10,#1F2833), url(D:/test/f.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.container {
    display:flex;
    align-items: top;
    justify-content: center;
    position:250px;
}
.search-bar{
    width: 70%;
    max-width: 600%;
    background: rgba(255,255,255,0.2);
    display:flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
    position: relative;
}
.search-bar input{
    background: transparent;
    flex:1;
    border:0;
    outline: none;
    padding : 24px 20px;
    font-size: 20px;
    color: #cac7ff;

}
::placeholder{
    color: #cac7ff
}
.search-bar button img{
    width: 25px;
}
.search-bar button{
    border:0;
    border-radius: 50%;
    width:60px;
    height:60px;
    background: #58629b;
    cursor: pointer;
}
.comment input{
    width:850px;
    height:76px;
    
}
input[type="text"], placeholder{
    background:#ffff;
    opacity: 40%;
    border-radius:25px;
    font:Georgia;
    font-size:medium;
    margin:0px;

}
.profile img{
    width:100px;
    height:100px;
    justify-content: right;
    position:1080px;
    padding:1%;
    border-radius: 150px;
}
label{
    width:100px;
}

.container {
  padding: 2px 16px;
}

.one {
    background-color:  #7E909A;
    border-color: black;
    border: 2px solid;
    height: 60px;
    padding-top: 50px;
    border-collapse: collapse;
}